* {padding: 0;
margin: 0;}
.container{
    height: 56px;
    padding: 0;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 2;
    justify-content: space-between;
}
.headerStart{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
#barButton{
    margin: 10px 2px 2px 2px;
}
#youtubeImg{
    max-width: 100px;
    max-height: 80px;
    margin-left: 20px;
}
#country{
    color: dimgray;
    margin: 6px 0 0 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
.headerCenter{
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    
}
.searchContainer{
    width: 600px;
    height: 40px;
    position: relative;
    margin-bottom: 5px;
    border-radius: 2px;
}
#searchBox{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
}
#keyboardIcon{
    position: absolute;
    margin: 12px 2px 2px 500px;
}
#buttonSearch{
    position: absolute;
    height: 45px;
    width: 70px;
    opacity: 0.5;
    margin-left: 534px;
}
#buttonMic{
    border: none;
    background: none;
    margin-left: 10px;
}   
#buttonMic i {
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
    background-color: rgb(238, 238, 238);
    border: 1px solid rgba(255, 255, 255, 0);
}
.headerEnd{
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    margin-right: 30px;
    justify-content: space-between;
    
}
#buttonVideo{
    border: none;
    background: none;
    margin-left: 150px;
}
#buttonVideo i {
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
    font-size: 30px;
}
#buttonApps{
    border: none;
    background: none;
}
#buttonApps i {
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
    font-size: 30px;
}
#buttonNotifications{
    border: none;
    background: none;
}
#buttonNotifications i {
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
    font-size: 30px;
}
#buttonPerson{
    border: none;
    background: none;
}
#buttonPerson i {
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
    font-size: 30px;
    background-color: orange;
    color: aliceblue;
}
.sideBar ul{
    flex-direction: column;
    width: 200px;
    height: 100%;
    justify-content: space-between;
    position: absolute;
    margin-left: 10px;
    padding: 0;
    margin-top: 56px;
    position: fixed;
}

.sideBar li{
    display: block;
}
#lineSideBar{
    border-bottom: 1px solid rgb(215, 215, 215); ;
}
.textSideBar{
    width: 150px;
    display: flex;
    margin: 12px 0 0 10px;
}
#buttonSideBar{
    border: none;
    background: none;
    display: flex;
    flex-direction: row;
}
#buttonSideBar:hover{
    background-color: gray;
}
#buttonSideBar i{
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
    font-size: 30px;
    color: rgb(0, 0, 0);
}
#category ul{
    display: flex;
    flex-direction: row;
    margin: 56px 0 0 220px;
    border-bottom: 1px solid rgb(215, 215, 215); ;
    border-top: 1px solid rgb(215, 215, 215); ;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    position: fixed;
    background-color: white;
    z-index: 1;
}
#category li a{
    text-decoration: none;
    background-color: rgb(229, 229, 229);
    color: black;
    padding: 10px;
    border-radius: 20px;
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
}   
#category li a:hover{
    background-color: gray;
}

#category li{
    display: inline-block;
}
#buttonCategory{
    font-size: 15px;
    border: none;
    padding: 10px;
}
#content{
    display: grid;
    position: absolute;
    margin-top: 110px;
    margin-left: 220px;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 260px 260px 260px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    z-index: 0;

}
img{
    max-width: 100%;
}
#textContent{
    margin-top: 180px;
    background: none;
    border: none;
    display: flex;
    flex-direction: row;
}
#textContent img {
    max-width: 30px;
    border-radius: 30px;
    margin-left: 0;
}
#textContent h4 {
    position: absolute;
    margin-left: 40px;
    max-width: 250px;
    margin-top: 0;
    text-align: left;
}
#channelInfo{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    text-align: left;
    margin-left: 40px;
}
#channelInfo p {
    margin: 0;
}
#view{
    display: flex;
    flex-direction: row;
}
#view i {
    font-size: 7px;
    margin: 6px;
}
header{
    position: fixed;
    background-color: white;
    z-index: 3;
}
#time{
    position: absolute;
    margin-left: 254px;
    margin-top: 140px;
    z-index: 6;
    border: 5px;
    background-color: black;
    color: white;
    padding: 5px;
    font-family: sans-serif;
    border-radius: 3px;
    font-size: 13px;
}
#contentItem a{
    position: absolute;
    max-width: 300px;
    max-height: 200px;
}